body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 3px 10px;
  background-color: goldenrod;
  color: white;
  border: white;
}

input {
  margin: 10px;
}

button:active {
  background-color: white;
  color: blacks;
}

table button {
  background-color: cadetblue;
}
